/*top*/

.top_banner_div {
    position: relative;
    width: 100%;
}

.top_banner_div .swiper-slide img {
    width: 100%;
}

.top_banner_div img.close_banner {
    position: absolute;
    top: 15px;
    right: 13%;
    cursor: pointer;
    z-index: 100;
}

.search {
    position: relative;
    margin-top: 7px !important;
    width: 230px;
    height: 30px;
    bottom: 0;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    padding: 10px 10px;
}

.search .search-hot-words {
    position: absolute;
    top: 14px;
    left: 25px;
    z-index: 2;
    text-align: left;
}

.search .search-hot-words a {
    display: inline-block;

    margin-left: 5px;
    padding: 3px 10px;
    font-size: 12px;
    background: #eee;
    color: #757575;
    -webkit-transition: all .2s;
    transition: all .2s;
}


input::-webkit-input-placeholder {
    width: 10px;
    /* placeholder颜色  */
    color: #414141;
    /* placeholder字体大小  */
    font-size: 15px;
    /* placeholder位置  */
    text-align: left;
}

.Num {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 1;
    color: white;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
}

.search input {
    float: left;
    width: 170px;
    height: 36px;
    /*border-bottom: 1px solid #EEEEEE;*/
    font-size: 15px;
    color: #363636;
    padding: 0 7px;
}

.search .btn-box {
    width: 24px;
    overflow: hidden;
    float: right;
    height: 50px;
    padding-left: 20px;
    border-left: 1px solid #EEEEEE;
    line-height: 60px;
    margin-top: -10px;
}

/*benefit-section*/
.benefit-section {
    max-width: 100%;
    padding: 0 30px;
    margin-top: 26px;
    border-top: 1px solid #dadee2
}

.benefit-container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 35px 0 28px
}

.benefit-section dl {
    padding-left: 8.5%;
    border-left: 1px solid #e3e6e9
}

.benefit-container div:first-child dl {
    border-left: 0;
    padding-left: 0
}

.benefit-info p {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 30px
}

.benefit-info p span {
    margin-left: 18px
}

.benefit-section dt {
    width: 25%
}

.benefit-section .icon {
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    background: url("../images/icon@2x.png");
    background-position: 0 -103px;
    background-size: 370px
}

.benefit-section .icon-footer-service {
    background-position: -123px -103px
}

.benefit-section .icon-footer-true {
    background-position: -61px -103px
}

.footer-top {
    border-top: 0
}


@media screen and (max-width: 1024px) {
    .search {
        position: absolute;
    }

    .section {
        padding: 0;
    }

    /*benefit-section*/
    .benefit-section {
        padding: 0 20px;
        margin-top: 45px;
    }

    .benefit-section dl {
        padding-left: 5.5%;
    }

    .benefit-info p {
        font-size: 12px;
        line-height: 24px;
    }

    .benefit-info p span {
        margin-left: 10px;
    }

    .benefit-section dt {
        padding-bottom: 0;
        width: 29%;
    }
}

@media screen and (max-width: 767px) {
    .benefit-section {
        padding:0;
        margin-top: 10px;
        position: relative
    }

    .benefit-section::before {
        content: "";
        width: 100%;
        height: 10px;
        position: absolute;
        top: -11px;
        z-index: 1;
        background: #f5f5f5
    }

    .benefit-container {
        padding: 0 23px
    }

    .benefit-section dl {
        padding: 14px 0;
        border-left: 0;
        border-top: 1px solid #e3e6e9
    }

    .benefit-container div:first-child dl {
        border-top: 0
    }

    .benefit-section dt {
        width: auto;
        padding-right: 40px
    }

    .benefit-info p {
        font-size: 12px;
        line-height: 22px
    }

    .benefit-info p span {
        margin-left: 8px
    }

    .benefit-section .icon {
        width: 43px;
        height: 44px;
        margin-top: 11px;
        background-size: 319px;
        background-position: 0 -88px
    }

    .benefit-section .icon-footer-service {
        background-position: -106px -88px
    }

    .benefit-section .icon-footer-true {
        background-position: -53px -88px;
    }
}

/*index改版*/
.container {
    background: #fff
}
