/*1220-1920*/

/*.spot{
display:inline-block;
width:19px;
height:19px;
background:url("https://res-stage.samsungeshop.com.cn/resources/activityReleased/86164fc8-e813-4b92-96a7-01a4e09ccde3/images/survey_01_03.png?20191125165740?20190802140022") no-repeat;
background-size:16px;
position: absolute;
left:0;
z-index:5;
}
input[type=radio]:checked + .spot{
background:url("https://res-stage.samsungeshop.com.cn/resources/activityReleased/86164fc8-e813-4b92-96a7-01a4e09ccde3/images/survey_01_02.png?20191125165740?20190802140022") no-repeat;
background-size:16px;
}*/

.spot {
font-weight: bold;
margin-right: 10px;
cursor: pointer;
width: 15px;
height: 15px;
position: relative;
}

.spot:after {
position: absolute;
width: 10px;
height: 15px;
top: 0;
content: " ";
background-color: #fff;
color: #000;
display: inline-block;
visibility: visible;
border: 1px solid grey;
padding: 0 3px;
border-radius: 3px;
}

.spot:checked:after {
background-color: white;
content: "✓";
font-size: 12px;
}

.spot:disabled:after {
width: 10px;
height: 15px;
top: 0;
color: #000;
display: inline-block;
visibility: visible;
border: 1px solid #000;
padding: 0 3px;
border-radius: 3px;
/*background-color: #E9E7E3;*/
content: "✓";
font-size: 12px;
}

.down-arrow{
cursor: pointer;
}

#wrapper{
margin-bottom:60px;
height:auto;
}
#wrapper .kv{
position:relative;
width:100%;
height:100%;
overflow:hidden;
}

#kv-swiper{
position:relative;
width:100%;
height:auto;
}

#kv-swiper .swiperAuto{
position:absolute;
width:100%;
bottom:10px;
display:flex;
justify-content:center;
align-items:center;
}

#kv-swiper .swiperList{
width:auto;
display:flex;
justify-content:space-between;
}

#kv-swiper .swiperList div.isaction{
width:14px;
height:14px;
margin:0 10px;
border:1px solid #fff;
border-radius:8px;
z-index:11;
}

#kv-swiper .swiperList div.action{
width:15px;
height:15px;
margin:0 10px;
background-color:#fff;
border-radius:8px;
z-index:11;
}

#kv-swiper img{
width:100%;
height:auto;
}
.ctrlkvbtn{
width:15px;
height:15px;
z-index:11;
}

.ctrlkvbtn.pause{
background:url(https://res-stage.samsungeshop.com.cn/resources/activityReleased/86164fc8-e813-4b92-96a7-01a4e09ccde3/images/kv-pause-white.png?20191125165740?20190802140022) 50% 0% no-repeat
}
.ctrlkvbtn.play{
background:url(https://res-stage.samsungeshop.com.cn/resources/activityReleased/86164fc8-e813-4b92-96a7-01a4e09ccde3/images/kv-play-white.png?20191125165740?20190802140022) 50% 0% no-repeat
}
.container{
position:relative;
width:1220px;
margin:0 auto;
}
.hidden{
display:none;
}
/**search**/
.searckmask{
position:fixed;
left:0;
right:0;
bottom:0;
top:0;
background:rgba(0,0,0,0.6);

}
.search{
position:relative;
z-index:1;
background:#ededed;
border-bottom:1px solid #dfdfdf;
height:72px;
}
.search-tit{
position:relative;
font-size:20px;
line-height:72px;
padding-left:30px;
}
.down-arrow:before{
content:"";
border:8px solid #000;
border-bottom:none;
border-right-color:transparent;
border-left-color:transparent;
position:relative;
top:20px;
left:10px;
border-radius:2px;
}
.down-arrow:after{
content:"";
border:7px solid #ededed;
border-bottom:none;
border-right-color:transparent;
border-left-color:transparent;
position:relative;
top:16px;
left:-5px;
}
.up-arrow:before{
content:"";
border:8px solid #000;
border-top:none;
border-right-color:transparent;
border-left-color:transparent;
position:relative;
top:-14px;
left:10px;
border-radius:2px;
}
.up-arrow:after{
content:"";
border:7px solid #ededed;
border-top:none;
border-right-color:transparent;
border-left-color:transparent;
position:relative;
top:-11px;
left:-5px;
}
.search-open{
position:absolute;
left:0;
top:73px;
z-index:4;
width:100%;
background-color:#fff;
}
.search-open .container{
width:1220px;
/*padding-left:200px;*/
}
.search-subtit{
float:left;
width:16%;
border-bottom:1px solid #dfdfdf;
padding-left:30px;
font-size:18px;
line-height:100px;
font-weight:bold;
}
.search-sort{
float:right;
width:77%;
height:100px;
border-bottom:1px solid #dfdfdf;
}
.search-sort li{
float:left;
padding:0 20px;
line-height: 100px;
}
.search-sort li label{
position:relative;
}
.search-sort li label i{
display: inline-block;
zoom: 1;
vertical-align: top;
margin-right: 8px;
margin-top:40px;
}
.icon-checked i{
width:20px;
height:20px;
border:#363636 solid 1px;
}
.search-sort.list-color{
margin:0;
}
.search-sort.list-color li{
padding:0 5px;
}
.search-btn{
margin:40px 0;
padding-left:545px;
}
.search-btn a{
display:inline-block;
width:150px;
line-height: 42px;
border-radius:42px;
text-align: center;
}
.search-btn a.cancel{
border:1px solid #000;
margin-right:40px;
}
.search-btn a.result{
border:1px solid #000;
background-color:#000;
color:#fff;
}
.plus-minus-toggle {
position: relative;
float:right;
cursor: pointer;
margin-top:52px;
margin-right:10px;
height: 15px;
width: 15px;
}
.plus-minus-toggle:before,
.plus-minus-toggle:after {
background: #000;
content: '';
height: 3px;
left: 0;
position: absolute;
top: 0;
width: 15px;
transition: transform 500ms ease;
}
.plus-minus-toggle:after {
transform-origin: center;
}
.plus-minus-toggle.collapsed:after {
transform: rotate(90deg);
}
.plus-minus-toggle.collapsed:before {
transform: rotate(180deg);
}
.rank{
position:relative;
height:69px;
}
.rank-tit{
line-height: 69px;
text-align: right;
font-size:18px;
}
.rank-tit .up-arrow:after{
border-color:#fff;
border-right-color:transparent;
border-left-color:transparent;
}
.row{
font-size:0;
border-top:1px solid #dfdfdf;
border-bottom:1px solid #dfdfdf;
min-height: 30px;
}
.col-lg-12{
display: inline-block;
width:33.33333333%;
box-sizing: border-box;
border-bottom:1px solid #dfdfdf;
border-right:1px solid #dfdfdf;
zoom: 1;
vertical-align: top;
position: relative;
font-size: 14px;
}
.col-lg-12:last-child{
border-right:1px solid #dfdfdf;
}
.col-lg-12:nth-child(3n){
border-right:none;
}
.icon-active-box{
margin:30px 0;
text-align: center;
color:#fff;
}
.icon-active-box span{
padding:4px 6px;
margin:0 6px;
}
.icon-active-box div{
display: inline-block;
padding:4px 6px;
}
.icon-orange{
background-color:#ef6e46;
}
.icon-darkblue{
background-color:#013e97;
}
.icon-lightblue{
background-color:#426ae4;
}
.icon-purple{
background-color:#ae3a8d;
}
.list-pic{
text-align: center;
}
.list-color{
margin:30px 0;
}
.list-color{
text-align: center;
}
.list-color a{
position:relative;
display:inline-block;
width:12px;
height:12px;
border-radius: 50%;
margin:0 4px;
}
.list-color a.active{
margin:0 10px;
}
.list-color a.active:before{
position:absolute;
left:-5px;
top:-5px;
content:"";
width:20px;
height:20px;
border:1px solid #dfdfdf;
border-radius: 50%;
}
.list-info{
text-align:center;
margin-bottom:40px;
}
.pro-name{
font-size:20px;
}
.pro-price{
color:#0d55b7;
font-size:16px;
margin-top:10px;
font-weight:bold;
}

/*小屏电脑之间的分辨率*/
@media screen and (min-width:1024px) and (max-width:1220px) {
#wrapper .banner{
position:relative;
width:94.4%;
margin:10px auto 0 auto;
}
.container{
width:90%;
}
}


/*平板电脑之间的分辨率*/
@media screen and (min-width:320px) and (max-width:1024px) {
.container{
width:96%;
}
.col-lg-12{
width:49.7%;
}
.col-lg-12:nth-child(3n){
border-right:1px solid #dfdfdf;
}
.col-lg-12:nth-child(2n){
border-right:none;
}
.icon-active-box {
margin: 15px 0;
}
.list-pic{
width:98%;
margin:0 auto;
}
.search{
height:36px;
}
.search-tit{
padding-left:0;
line-height: 36px;
font-size:16px;
}
.up-arrow:before{
top:-14px;
}
.up-arrow:after{
top:-11px;
}
.down-arrow:before{
top:16px;
}
.down-arrow:after{
top:13px;
}
.search-open{
top:37px;
}
.search-open .container{
width:96%;
padding-left:0;
}
.search-subtit,
.search-sort{
float:none;
width:100%;
}
.search-subtit{
padding-left:0;
height:40px;
line-height: 60px;
font-size:14px;
border-bottom:none;
}
.search-sort{
height:inherit;

}
.search-sort li{
float:none;
display:inline-block;
line-height:40px;
padding:0 20px 0 0;
}
.search-sort li label{
font-size:12px;
}
.icon-checked i{
width:14px;
height:14px;
}
.search-sort li label i{
margin-top:14px;
}
.plus-minus-toggle{
margin-top:18px;
}
.plus-minus-toggle:before, .plus-minus-toggle:after{
height:2px;
}
.search-sort.list-color{
text-align:left;
}
.search-sort.list-color li{
padding:0 5px 0 0;
}
.search-btn{
margin:10px 0;
padding-left:0;
text-align:center;
}
/*banner menu*/
.g_my {
z-index: 101;
background-color: white;
left: 0;
width: 100%;
position: fixed;
bottom: 0;
padding: 10px 0;
}
.g_my li {
width: 25%;
float: left;
text-align: center;
}
.g_my li img {
width: auto;
height: 0.8rem;
}
.Num_div {
position: relative;
}
.Num {
width: .3rem;
height: .3rem;
background-color: red;
border-radius: 50%;
position: absolute;
right: .75rem;
top: -0.1rem;
color: white;
font-size: 0.21rem;
}

}
/**手机分辨率**/
@media screen and (min-width:320px) and (max-width:768px){
.icon-active-box span,
.icon-active-box div{
padding: 2px;
margin: 0 2px;
font-size:12px;
}
.list-pic img{
width:100%;
max-width:140px;
}
.pro-name {
font-size: 16px;
}
.pro-price {
font-size: 14px;
}
.search-btn a{
width:100px;
line-height:30px;
border-radius:32px;
font-size:14px;
}

}
