@charset "UTF-8";
.spring-notice {
position: fixed;
right: 0;
bottom: 0;
z-index: 9999;
width: 100%;
max-width: 318px;
height: 278px;
overflow: hidden;
color: #000;
border: 1px solid #767676;
background: #fff;

display: none;
}


.spring-notice .cont {
height: 240px;
padding: 10px;

overflow-x: hidden;
overflow-y: scroll;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-o-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
}

.spring-notice .cont .title {
margin-bottom: 10px;
font-weight: 600;

text-align: center;

padding: 10px 10px 0 10px;
}
.spring-notice .cont h2.title {
font-size: 20px;
margin-bottom: 20px;
color: #f75454
}
.spring-notice .cont h4.title {
font-size: 18px;
}
.notice-bg-top{
background: url(https://res-stage.samsungeshop.com.cn/resources/activityReleased/86164fc8-e813-4b92-96a7-01a4e09ccde3/images/index/inte/notice-bg-top.png?20191125165740?20190802140022);
}
.notice-bg-bottom{
background: url(https://res-stage.samsungeshop.com.cn/resources/activityReleased/86164fc8-e813-4b92-96a7-01a4e09ccde3/images/index/inte/notice-bg-bottom.png?20191125165740?20190802140022);
}
.spring-notice .cont p {
margin-bottom: 14px;
font-size: 13px;
line-height: 20px;
}
.spring-notice .cont p.b-b-0 {
margin-bottom: 0;
}
.spring-notice .cont p.bold {
font-weight: bold;
}

.spring-notice .cont p.t-a-r {
text-align: right;
}

.spring-notice .footer {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 40px;
line-height: 40px;
background-color: #767676;

-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-o-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;

padding: 0 10px;
}
.spring-notice .footer .icon-checked {}
.spring-notice .footer .icon-checked i {
display: inline-block;
position: absolute;
top: 50%;
margin-top: -9px;
}

.spring-notice .footer span {
color: #ffffff;
cursor: pointer;
}

.spring-notice .footer .todayview {
margin-left: 23px;
font-size: 12px;
vertical-align: middle;
}

.spring-notice .footer .todayview:hover {
text-decoration: underline;
}

.spring-notice .footer .close {
float: right;
font-weight: bold;
}


@media screen and (max-width: 1024px){
.spring-notice .footer .icon-checked i {
margin-top: -8px;
}
}

@media screen and (max-width: 600px){
.spring-notice {
left: 0;
margin: 0 auto;
width: 94%;
}
}
